.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3765af;  
}

.footer-container {
  color: white;
}

.prevbtn{
  background-color: #EEE8AA;
}
.approve{
  background-color: #ADFF2F;
}
.reject{
  background-color: #ff3821;
}